<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Population Pyramids</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body bgcolor="black">
  <div class="w3-center w3-padding">
    <H1><font color='lightblue'>ViralML</font> <font color='white'>Population</font> <font color='pink'>Pyramids</font></H1>

    <FORM id='submit_content' method="POST" action="{{ url_for('build_pyramid') }}">

    <SELECT class="selectpicker" name="selected_country">
        <option value="" selected></option>
       
    </SELECT>


    <SELECT class="selectpicker" name="selected_year" >
        <option value="" selected></option>
        
            <option value="1950">1950</option>
        
            <option value="1960">1960</option>
        
            <option value="1970">1970</option>
        
            <option value="1980">1980</option>
        
            <option value="1990">1990</option>
        
            <option value="2000">2000</option>
        
            <option value="2010">2010</option>
        
            <option value="2020">2020</option>
        
            <option value="2030">2030</option>
        
            <option value="2040">2040</option>
        
            <option value="2050">2050</option>
        
            <option value="2060">2060</option>
        
            <option value="2070">2070</option>
        
            <option value="2080">2080</option>
        
            <option value="2090">2090</option>
        
    </SELECT>
    <button type="submit" form="submit_content" value="Submit">Build</button>
  </FORM>
</div>



  

</body>

</html>